---
layout: single
author_profile: true
classes: wide
---

<div class="page__content">
  <h2>About Me</h2>

  <p>I'm Joe Schlessinger, currently based in Washington, DC. This blog is my space for sharing random things.</p>

  <p>You'll find book reviews and literary reflections, technical projects and data analysis, and mostly satirical personal essays. The common thread is a futile attempt at humor.</p>

  <hr>

  <h2>Featured Posts</h2>

  <div class="entries-list">
    {% assign featured_posts = '' | split: '' %}

    {% comment %}Define featured post identifiers{% endcomment %}
    {% assign featured_slugs = '2025-01-03-cyropaedia-and-anabasis,2025-01-25-akerlof-market-for-singles,2023-10-24-chinese-postman-problem-irl,2023-01-16-wikipeople,2024-09-22-trainTrackER,2024-05-13-aim-marketplace' | split: ',' %}

    {% comment %}Collect all posts from all collections{% endcomment %}
    {% assign all_posts = site.books | concat: site.essays | concat: site.projects %}

    {% comment %}Find matching featured posts{% endcomment %}
    {% for post in all_posts %}
      {% for slug in featured_slugs %}
        {% if post.path contains slug %}
          {% comment %}Check if post is already in featured_posts to avoid duplicates{% endcomment %}
          {% assign already_added = false %}
          {% for featured in featured_posts %}
            {% if featured.path == post.path %}
              {% assign already_added = true %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% unless already_added %}
            {% assign featured_posts = featured_posts | push: post %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% for post in featured_posts %}
      {% include archive-single.html type='grid' %}
    {% endfor %}
  </div>
</div>
